@media (max-width: 525px) {
  .app {
    margin-top: 10vh;
  }

  .form {
    width: 100%;
  }

  .city-input {
    display: block;
    width: 100%;
    padding: 0.7rem 1rem;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    text-align: center;
  }

  .get-btn {
    display: block;
    width: 100%;
    padding: 0.7rem 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .loading-btn {
    display: block;
    width: 100%;
    padding: 0.7rem 1rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .city-examples {
    margin: 0.7rem 0;
    text-align: center;
  }
}