*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: "Fira Sans", "Noto Sans", "Open Sans", "Segoe UI", "Tahoma",
    "Geneva", "Verdana", sans-serif;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  word-break: break-word;
  background: linear-gradient(0deg, #482fd0, #4f59d4);
}

.wrapper {
  padding: 0 2rem;
  padding-top: 12vh;
  padding-bottom: 2rem;
  margin: 0 auto;
  max-width: 31.25rem;
}

.header {
  color: #e8e9ff;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1;
  text-shadow: 0px -1px #3b3ca1, 0px -2px #3b3ca1, 0px -3px #3b3ca1;
}

.input-wrap {
  display: flex;
  align-items: center;
}

.form {
  margin-bottom: 1rem;
}

.add-input {
  font-size: 0.9rem;
  width: 12.7rem;
  padding: 0.6rem 1rem;
  outline: none;
  color: #dadaff;
  background: transparent;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0 -3px 0px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.add-input::placeholder {
  color: #b8bbff;
  text-shadow: 0px 0px 2px #444444;
}

.add-input:focus::placeholder {
  color: #9fa2ff;
}

.add-btn {
  font-size: 0.9rem;
  padding: 0.6rem;
  background-color: #40b894;
  text-shadow: 0px 0px 2px #444444;
  border-radius: 0px 5px 5px 0px;
  color: #dadaff;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 -3px 0px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.add-btn:hover {
  background-color: #3fb18f;
}

.add-btn-plus-sign {
  display: inline-block;
  transform: rotate(45deg);
}

.todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0 -5px 0px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0.5rem 0;
  color: #dadaff;
  font-size: 1rem;
  cursor: pointer;
  word-break: break-word;
  border-radius: 5px;
  animation: fade-out 350ms ease-in;
}

@keyframes fade-out {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.task-title {
  text-shadow: 0px 0px 2px #444444;
}

.task-number {
  margin: 0 0.5rem;
  color: rgba(255, 255, 255, 0.3);
}

.rm-btn {
  padding: 0 0.5rem;
  font-size: 2rem;
  background-color: transparent;
  color: #7b7be6;
  border: 0;
  transition: color 0.1s linear;
  cursor: pointer;
  outline: none;
}

.rm-btn:hover {
  color: #1f1f1f;
}

.no-tasks {
  margin-top: 2rem;
}

.no-tasks-msg {
  color: #dadaff;
  text-shadow: 0px 0px 2px #444444;
  margin: 0.3rem 0;
}

input[type="checkbox"]:checked ~ .task-title {
  text-decoration: line-through;
  color: #6c6cff;
}

input[type="checkbox"]:checked ~ .task-number {
  color: rgba(255, 255, 255, 0.1);
}

.check-custom {
  margin-right: 0.5rem;
}

input[type="checkbox"].check-custom {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input[type="checkbox"].check-custom ~ .check-toggle {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid rgba(255, 255, 255, 0.17);
  border-radius: 50px;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: border 0.2s linear;
}

input[type="checkbox"].check-custom:hover ~ .check-toggle {
  border-color: rgba(255, 255, 255, 0.37);
}

input[type="checkbox"].check-custom:focus ~ .check-toggle {
  border-color: rgba(255, 255, 255, 0.27);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

input[type="checkbox"].check-custom:checked ~ .check-toggle {
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  background: #505050
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=)
    center no-repeat;
}
