*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: "Montserrat", "Raleway", "Open Sans", "Segoe UI", "Tahoma",
    "Geneva", "Verdana", sans-serif;
}

body {
  min-height: 100vh;
  word-break: break-word;
  background: #f0f0f0;
}

.form {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 10vh;
  text-align: center;
}

.form-input {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  color: #777777;
  outline: none;
  width: 100%;
  font-size: 2.5rem;
}

.form-input::placeholder {
  color: rgb(207, 207, 207);
}

.form-input:focus::placeholder {
  color: rgba(207, 207, 207, 0.8);
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-thumb {
  width: 100%;
  height: auto;
  max-width: 218px;
  padding: 9.5px;
  border-radius: 12px;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in;
}

.img-thumb:hover {
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.15));
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.pagination-link {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.pagination-link-active {
  color: #caa337;
  cursor: text;
}

.pagination-link-passive {
  color: #8c8c8c;
}

.pagination-link-passive:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.error {
  margin: 1rem 0;
  padding: 0 1rem;
  color: #999999;
  text-align: center;
}

.image-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  color: #b4b4b4;
}

.img-preview {
  max-height: 60vh;
  max-width: 80vw;
  object-fit: contain;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.credit {
  margin-bottom: 2rem;
}

.user-image {
  margin: 0.3rem;
  margin-top: 1rem;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.profile-link {
  text-decoration: none;
}

.download-link {
  text-decoration: none;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  outline: none;
}

.back-icon {
  width: 2rem;
  height: 2rem;
  fill: rgba(0, 0, 0, 0.5);
}
