*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: "Fira Sans", "Poppins", "Noto Sans", "Open Sans", "Arial",
    sans-serif;
}

body {
  min-height: 100vh;
  word-break: break-word;
  background: linear-gradient(
    to right,
    rgba(18, 18, 39, 1) -18%,
    rgba(46, 45, 96, 1) 25% 75%,
    rgba(18, 18, 39, 1) 118%
  );
}

.app {
  margin: 0 auto;
  max-width: 43.75rem;
  padding: 3rem;
}

.header {
  font-size: 3rem;
  margin: 1.5rem 0;
  line-height: 1.1;
}

.header-link {
  text-decoration: none;
  color: #f2f2f2;
}

.search-form {
  display: grid;
  grid-template-columns: auto 8rem;
  grid-template-rows: 4rem;
}

.search-input {
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #f44336;
  outline: none;
  background: transparent;
  color: #d8d8d8;
}

.search-input::placeholder {
  color: #717092;
}

.search-btn {
  background: linear-gradient(to right, #f44336, #ce0185);
  color: #ffffff;
  border: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
}

.search-btn:hover {
  background: linear-gradient(to right, #e93f33, #be007c);
}

.movie-list {
  margin-top: 4rem;
}

.card {
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
  background: linear-gradient(to right, #212135, #262542, #212135);
  text-align: center;
  color: #cccccc;
  padding: 3rem;
  animation: fade-out 350ms ease-in;
}

@keyframes fade-out {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card-title {
  font-size: 2.5rem;
  line-height: 2.7rem;
  margin-bottom: 0.5rem;
  word-break: break-word;
  color: #d6d84a;
}

.card-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 11.563rem;
  margin-bottom: 1rem;
  display: block;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-info {
  color: #77c556;
}

.card-description {
  margin-top: 1rem;
  padding: 0 1rem;
}

.error {
  color: #d8d8d8;
  text-align: center;
  margin: 5rem 0;
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.pagination-link {
  text-decoration: none;
  padding: 0.3rem;
}

.pagination-link-active {
  color: #ffffff;
  cursor: text;
}

.pagination-link-passive {
  color: #8d8d8d;
}

.loader {
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  width: 5rem;
  height: 5rem;
}

.loader div {
  position: absolute;
  top: 2rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #717092;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 0.5rem;
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 0.5rem;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 2rem;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 3.5rem;
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1.5rem, 0);
  }
}
